# Secure directory by disallowing direct access
Options -Indexes

# Redirect all requests to public directory
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Prevent access to sensitive files and directories
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to sensitive directories
RedirectMatch 403 ^/(?:data|config|src|vendor)/.*$
